<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aetherworks_Victuz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aetherworks_Victuz.styles.css" asp-append-version="true" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 NavBarGeneral">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/img/49e20123-0324-4778-8244-be706e895487.jpg" alt="Logo" style="height: 40px; margin-right: 10px;" />
                    Aetherworks_Victuz
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary nav-link text-dark mx-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary nav-link text-dark mx-1" asp-area="" asp-controller="VictuzActivities" asp-action="Index">Activities</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Organizer"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-primary nav-link text-dark mx-1" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-primary nav-link text-dark mx-1" asp-area="" asp-controller="Locations" asp-action="Index">Locations</a>
                            </li>
                        }
                    </ul>
                    <div class="dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </button>
                        }
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a class="dropdown-item" href="/Identity/Account/Logout">Logout</a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Aetherworks_Victuz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
